.cardFront {
    background-color: beige;
    border-radius: 1em;
    padding:1em;
    margin:1em;
    color:black;
}

.cardBack {
    background-color: #a4a485;
    border-radius: 1em;
    padding:1em;
    margin:1em;
    color:black;
}